[Unit]
Description=Observability Server
After=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/home/azureuser/igloo-observability/server /home/azureuser/igloo-observability/config.toml
WorkingDirectory=/home/azureuser/igloo-observability

[Install]
WantedBy=multi-user.target
